the original answer for Q0 is shown as below.
# Qustion 0

In [ ]:
sample_list = [(1, 3, 5), (0, 1, 2), (1, 9, 8)]
op = []
for m in range(len(sample_list)):
    li = [sample_list[m]]
        for n in range(len(sample_list)):
            if (sample_list[m][0] == sample_list[n][0] and
                    sample_list[m][3] != sample_list[n][3]):
                li.append(sample_list[n])
        op.append(sorted(li, key=lambda dd: dd[3], reverse=True)[0])
res = list(set(op))

- (a) What does the code do?

It first classifies tuples in the list according to the value of the first item, then select the tuple with the largest last item in each category, and returns all these tuples without repitition.
- (b) Code review
   - Working part
   
     The code can express the writer's thoughts, but unfortunately, it doesn't work. There are several syntax errors in this code. The second "for" loop is supposed to be aligned with the assignment line, and the list range is zero to length-1, not 0 to length.
   - Style
     
     It doesn't follow the style guidelines.
   - Structure
     
     It is clearly structured. The writer used two loops and it's easy to see his idea.
   - Efficiency
   
     The efficiency can be improved. For example, this code uses `sample_list[m]` several times. for the "if" statement in the second loop, it can be replaced by `li[0]`.And there's no need to judge whether `sample_list[m][3]` is equal to `sample_list[n][3]`, because the `set` part will remove duplicate values.
     
   - Suggestion
     First, maybe the code writer should focus more on the use of "tab", and check the alignment and foot numbers in the code more carefully. Second, when a variable is used many times, maybe the writer can notice it and temporarily store it in a parameter. Third, focus more on the details of the code. Moreover, the writer may use a function and do your work in a more general way.

# We need to correct the "step by step" part of the answer.


- (a) What does the code do?
     - understand the snippet step by step    
        The snippet takes a list of tuples and, after a small correction, returns a list of tuples having the maximum 3rd element among tuples sharing a common first element.
- (b) Code review
   - Working part    
     The code can express the writer's thoughts, but unfortunately, it doesn't work. There are several syntax errors in this code. The second "for" loop is supposed to be aligned with the assignment line, and the list range is zero to length-1, not 0 to length.
   - Style   
     It doesn't follow the style guidelines.
   - Structure   
     It is clearly structured. The writer used two loops and it's easy to see his idea.
   - Efficiency   
     The efficiency can be improved. For example, this code uses `sample_list[m]` several times. for the "if" statement in the second loop, it can be replaced by `li[0]`.And there's no need to judge whether `sample_list[m][3]` is equal to `sample_list[n][3]`, because the `set` part will remove duplicate values.
   - Suggestion   
     First, maybe the code writer should focus more on the use of "tab", and check the alignment and foot numbers in the code more carefully. Second, when a variable is used many times, maybe the writer can notice it and temporarily store it in a parameter. Third, focus more on the details of the code. Moreover, the writer may use a function and do your work in a more general way.

In [2]:
import numpy as np
import pandas as pd

the original answer for Q1 is shown as below.
# Qustion 1

In [3]:
def f(n, k = 4, low = 0, high = 10):
    '''
    return a list of n-tuples with k random integers between low and high.
    Parameters
    ----------
    n : int TYPE
        The number of tuples.
    k : int TYPE, optional
        The number of random integers. The default is 4.
    low :int TYPE, optional
        The lower bound. The default is 0.
    high :int TYPE, optional
        The upper bound. The default is 10.

    Returns
    -------
    list0 :list TYPE
        A list of n-tuples with k random integers between low and high.

    '''
    list0 = []
    for i in range(n):
        list0.append(tuple(np.random.randint(low,high,size=k)))
    #assert test
    #list0 = "test"
    #list0 = [2,3]
    assert type(list0)==list, "Return should be a list of tuples."
    for t in list0:
        assert type(t)== tuple,"Return should be a list of tuples."
    return list0
print(f(5))

[(9, 8, 5, 5), (2, 5, 4, 4), (3, 9, 4, 9), (3, 0, 1, 6), (2, 2, 2, 9)]

# Change to a descriptive function name

In [5]:
def random_matrix(n, k = 4, low = 0, high = 10):
    '''
    return a list of n-tuples with k random integers between low and high.
    Parameters
    ----------
    n : int TYPE
        The number of tuples.
    k : int TYPE, optional
        The number of random integers. The default is 4.
    low :int TYPE, optional
        The lower bound. The default is 0.
    high :int TYPE, optional
        The upper bound. The default is 10.

    Returns
    -------
    list0 :list TYPE
        A list of n-tuples with k random integers between low and high.

    '''
    list0 = []
    for i in range(n):
        list0.append(tuple(np.random.randint(low,high,size=k)))
    #assert test
    #list0 = "test"
    #list0 = [2,3]
    assert type(list0)==list, "Return should be a list of tuples."
    for t in list0:
        assert type(t)== tuple,"Return should be a list of tuples."
    return list0
print(random_matrix(5))

[(3, 8, 9, 3), (0, 3, 8, 3), (4, 1, 5, 0), (6, 0, 1, 8), (7, 9, 8, 2)]

The original answer for Q3 is shown as below.
To simplify the answer, we don't show the "convert datatype" part.
# Qustion 3
a)

In [16]:
df1718 = pd.read_sas('DEMO_2017-2018.XPT', format = 'xport')
df1516 = pd.read_sas('DEMO_2015-2016.XPT', format = 'xport')
df1314 = pd.read_sas('DEMO_2013-2014.XPT', format = 'xport')
df1112 = pd.read_sas('DEMO_2011-2012.XPT', format = 'xport')
interest = ["SEQN", "RIDAGEYR", "RIDRETH3", "DMDEDUC2", "DMDMARTL", "RIDSTATR", "SDMVPSU", "SDMVSTRA", "WTMEC2YR", "WTINT2YR"]
z = []
y4 = df1718[interest]
m, n = y4.shape[0],y4.shape[1]
y4.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z.append(y4)
y3 = df1516[interest]
m, n = y3.shape[0],y3.shape[1]
y3.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z.append(y3)
y2 = df1314[interest]
m, n = y2.shape[0],y2.shape[1]
y2.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z.append(y2)
y1 = df1112[interest]
m, n = y1.shape[0],y1.shape[1]
y1.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z.append(y1)
res = pd.concat(z, axis = 0, ignore_index = True)
res.columns = [x.lower() for x in interest]+["yearofdata"]
res = pd.DataFrame.convert_dtypes(res)
print(res)

        seqn  ridageyr  ridreth3  dmdeduc2  dmdmartl  ridstatr  sdmvpsu  \
0      93703       2.0         6      <NA>      <NA>         2        2
1      93704       2.0         3      <NA>      <NA>         2        1
2      93705      66.0         4         2         3         2        2
3      93706      18.0         6      <NA>      <NA>         2        2
4      93707      13.0         7      <NA>      <NA>         2        1
...      ...       ...       ...       ...       ...       ...      ...
39151  71912      40.0         3         1         1         2        1
39152  71913      18.0         6      <NA>      <NA>         2        1
39153  71914      10.0         3      <NA>      <NA>         2        2
39154  71915      60.0         3         5         5         2        3
39155  71916      16.0         3      <NA>      <NA>         2        1

       sdmvstra      wtmec2yr      wtint2yr yearofdata
0           145   8539.731348   9246.491865      17-18
1           143   42566.61475  37338.768343      17-18
2           145   8338.419786   8614.571172      17-18
3           134   8723.439814   8548.632619      17-18
4           138    7064.60973   6769.344567      17-18
...         ...           ...           ...        ...
39151        98  20770.138122  19633.637051      11-12
39152        94   8028.485773   7382.152016      11-12
39153        94  63931.531988  60197.256541      11-12
39154        90  91446.591982  88961.259215      11-12
39155        94  24751.360191  24446.632088      11-12

[39156 rows x 11 columns]

b)

In [10]:
dff1718 = pd.read_sas('OHXDEN_2017-2018.XPT', format = 'xport')
dff1516 = pd.read_sas('OHXDEN_2015-2016.XPT', format = 'xport')
dff1314 = pd.read_sas('OHXDEN_2013-2014.XPT', format = 'xport')
dff1112 = pd.read_sas('OHXDEN_2011-2012.XPT', format = 'xport')
total = dff1718.columns
interest1 = ['SEQN', 'OHDDESTS'] + [x for x in total if (x[0:3] == "OHX" and (x[5:7] == "TC" or x[5:8] == "CTC")) ]
for x in interest1:
    if x not in dff1516.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1314.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1112.columns:
        interest1.remove(x)
z1 = []
y8 = dff1718[interest1]
m, n = y8.shape[0],y8.shape[1]
y8.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z1.append(y8)
y7 = dff1516[interest1]
m, n = y7.shape[0],y7.shape[1]
y7.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z1.append(y7)
y6 = dff1314[interest1]
m, n = y6.shape[0],y6.shape[1]
y6.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z1.append(y6)
y5 = dff1112[interest1]
m, n = y5.shape[0],y5.shape[1]
y5.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z1.append(y5)
res1 = pd.concat(z1, axis = 0, ignore_index = True)
res1.columns = [x.lower() for x in interest1]+["yearofdata"]
res1 = pd.DataFrame.convert_dtypes(res1)
print(res1)
print(res1['seqn'])

D:\anaconda\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

        seqn  ohddests  ohx01tc  ohx02tc  ohx03tc  ohx04tc  ohx05tc  ohx06tc  \
0      93703         1        4        4        4        1        1        1
1      93704         1        4        4        4        1        1        1
2      93705         1        4        2        4        2        2        2
3      93706         1        4        2        2        2        2        2
4      93707         1        4        4        2        1        1        1
...      ...       ...      ...      ...      ...      ...      ...      ...
35904  71912         1        4        2        2        2        2        2
35905  71913         1        2        2        2        2        2        2
35906  71914         1        4        4        2        1        1        1
35907  71915         1        2        2        2        2        2        2
35908  71916         1        4        2        2        2        2        2

       ohx07tc  ohx08tc  ...  ohx23ctc  ohx24ctc  ohx25ctc  ohx26ctc  \
0            1        1  ...      b'D'      b'D'      b'D'      b'D'
1            1        1  ...      b'D'      b'D'      b'D'      b'D'
2            2        2  ...      b'S'      b'S'      b'S'      b'S'
3            2        2  ...      b'S'      b'S'      b'S'      b'S'
4            2        2  ...      b'S'      b'S'      b'S'      b'S'
...        ...      ...  ...       ...       ...       ...       ...
35904        2        2  ...      b'S'      b'S'      b'S'      b'S'
35905        2        2  ...      b'S'      b'S'      b'S'      b'S'
35906        2        2  ...      b'Y'      b'S'      b'S'      b'S'
35907        2        2  ...      b'S'      b'S'      b'S'      b'S'
35908        2        2  ...      b'S'      b'S'      b'S'      b'S'

       ohx27ctc  ohx28ctc  ohx29ctc  ohx30ctc  ohx31ctc  yearofdata
0          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
1          b'D'      b'D'      b'D'      b'U'      b'U'       17-18
2          b'S'      b'F'      b'F'      b'R'      b'F'       17-18
3          b'S'      b'S'      b'S'      b'S'      b'S'       17-18
4          b'S'      b'D'      b'S'      b'S'      b'S'       17-18
...         ...       ...       ...       ...       ...         ...
35904      b'S'      b'S'      b'S'      b'Z'      b'S'       11-12
35905      b'S'      b'S'      b'S'      b'S'      b'S'       11-12
35906      b'Y'      b'D'      b'D'      b'S'      b'U'       11-12
35907      b'S'      b'S'      b'S'      b'Z'      b'Z'       11-12
35908      b'S'      b'S'      b'S'      b'Z'      b'U'       11-12

[35909 rows x 63 columns]
0        93703
1        93704
2        93705
3        93706
4        93707
         ...
35904    71912
35905    71913
35906    71914
35907    71915
35908    71916
Name: seqn, Length: 35909, dtype: Int64

# We should make some corrections on the variable name and datatypes.

In [18]:
df1718 = pd.read_sas('DEMO_2017-2018.XPT', format = 'xport')
df1516 = pd.read_sas('DEMO_2015-2016.XPT', format = 'xport')
df1314 = pd.read_sas('DEMO_2013-2014.XPT', format = 'xport')
df1112 = pd.read_sas('DEMO_2011-2012.XPT', format = 'xport')
interest = ["SEQN", "RIDAGEYR", "RIDRETH3", "DMDEDUC2", "DMDMARTL", "RIDSTATR", "SDMVPSU", "SDMVSTRA", "WTMEC2YR", "WTINT2YR"]
z = []
y4 = df1718[interest]
m, n = y4.shape[0],y4.shape[1]
y4.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z.append(y4)
y3 = df1516[interest]
m, n = y3.shape[0],y3.shape[1]
y3.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z.append(y3)
y2 = df1314[interest]
m, n = y2.shape[0],y2.shape[1]
y2.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z.append(y2)
y1 = df1112[interest]
m, n = y1.shape[0],y1.shape[1]
y1.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z.append(y1)
res = pd.concat(z, axis = 0, ignore_index = True)
print(res)

          SEQN  RIDAGEYR  RIDRETH3  DMDEDUC2  DMDMARTL  RIDSTATR  SDMVPSU  \
0      93703.0       2.0       6.0       NaN       NaN       2.0      2.0
1      93704.0       2.0       3.0       NaN       NaN       2.0      1.0
2      93705.0      66.0       4.0       2.0       3.0       2.0      2.0
3      93706.0      18.0       6.0       NaN       NaN       2.0      2.0
4      93707.0      13.0       7.0       NaN       NaN       2.0      1.0
...        ...       ...       ...       ...       ...       ...      ...
39151  71912.0      40.0       3.0       1.0       1.0       2.0      1.0
39152  71913.0      18.0       6.0       NaN       NaN       2.0      1.0
39153  71914.0      10.0       3.0       NaN       NaN       2.0      2.0
39154  71915.0      60.0       3.0       5.0       5.0       2.0      3.0
39155  71916.0      16.0       3.0       NaN       NaN       2.0      1.0

       SDMVSTRA      WTMEC2YR      WTINT2YR YEAROFDATA
0         145.0   8539.731348   9246.491865      17-18
1         143.0  42566.614750  37338.768343      17-18
2         145.0   8338.419786   8614.571172      17-18
3         134.0   8723.439814   8548.632619      17-18
4         138.0   7064.609730   6769.344567      17-18
...         ...           ...           ...        ...
39151      98.0  20770.138122  19633.637051      11-12
39152      94.0   8028.485773   7382.152016      11-12
39153      94.0  63931.531988  60197.256541      11-12
39154      90.0  91446.591982  88961.259215      11-12
39155      94.0  24751.360191  24446.632088      11-12

[39156 rows x 11 columns]

In [19]:
demo_cols = {
    'SEQN': 'id',
    'RIDAGEYR': 'age',
    'RIDRETH3': 'race',
    'DMDEDUC2': 'education',
    'DMDMARTL': 'marital_status',
    'RIDSTATR': 'exam_status',
    'SDMVPSU': 'psu',
    'SDMVSTRA': 'strata',
    'WTMEC2YR': 'exam_wt',
    'WTINT2YR': 'interview_wt',
    'YEAROFDATA':'cohort'
    }

ohx_cols = {'SEQN': 'id', 'OHDDESTS': 'dentition_status', 'YEAROFDATA':'cohort'}
tc_cols = {'OHX' + str(i).zfill(2) + 'TC':
           'tc_' + str(i).zfill(2) for i in range(1, 33)}
ctc_cols = {'OHX' + str(i).zfill(2) + 'CTC':
            'ctc_' + str(i).zfill(2) for i in range(2, 32)}
_, _ = ctc_cols.pop('OHX16CTC'), ctc_cols.pop('OHX17CTC')

ohx_cols.update(tc_cols)
ohx_cols.update(ctc_cols)

# columns to convert to integer
demo_int = ('id', 'age', 'psu', 'strata')
ohx_int = ('id', )
# levels for categorical variables
demo_cat = {
    'race': {1: 'Mexican American',
             2: 'Other Hispanic',
             3: 'Non-Hispanic White',
             4: 'Non-Hispanic Black',
             6: 'Non-Hispanic Asian',
             7: 'Other/Multiracial'
             },
    'education': {1: 'Less than 9th grade',
                  2: '9-11th grade (Includes 12th grade with no diploma)',
                  3: 'High school graduate/GED or equivalent',
                  4: 'Some college or AA degree',
                  5: 'College graduate or above',
                  7: 'Refused',
                  9: "Don't know"
                  },
    'marital_status': {1: 'Married',
                       2: 'Widowed',
                       3: 'Divorced',
                       4: 'Separated',
                       5: 'Never married',
                       6: 'Living with partner',
                       77: 'Refused',
                       99: "Don't know"
                       },
    'exam_status': {1: 'Interviewed only',
                    2: 'Both interviewed and MEC examined'
                    }
    }
ohx_cat = {
    'dentition_status': {1: 'Complete', 2: 'Partial', 3: 'Not Done'}
    }

tc = {
      1: 'Primary tooth present',
      2: 'Permanent tooth present',
      3: 'Dental Implant',
      4: 'Tooth not present',
      5: 'Permanent dental root fragment present',
      9: 'Could not assess'
      }
ctc = (
 {
  'A': 'Primary tooth with a restored surface condition',
  'D': 'Sound primary tooth',
  'E': 'Missing due to dental disease',
  'F': 'Permanent tooth with a restored surface condition',
  'J':
    'Permanent root tip is present but no restorative replacement is present',
  'K': 'Primary tooth with a dental carious surface condition',
  'M': 'Missing due to other causes',
  'P':
    'Missing due to dental disease but replaced by a removable restoration',
  'Q':
    'Missing due to other causes but replaced by a removable restoration',
  'R':
    'Missing due to dental disease but replaced by a fixed restoration',
  'S': 'Sound permanent tooth',
  'T':
    'Permanent root tip is present but a restorative replacement is present',
  'U': 'Unerupted',
  'X': 'Missing due to other causes but replaced by a fixed restoration',
  'Y': 'Tooth present, condition cannot be assessed',
  'Z': 'Permanent tooth with a dental carious surface condition'
 })

In [23]:
dff1718 = pd.read_sas('OHXDEN_2017-2018.XPT', format = 'xport')
dff1516 = pd.read_sas('OHXDEN_2015-2016.XPT', format = 'xport')
dff1314 = pd.read_sas('OHXDEN_2013-2014.XPT', format = 'xport')
dff1112 = pd.read_sas('OHXDEN_2011-2012.XPT', format = 'xport')
total = dff1718.columns
interest1 = ['SEQN', 'OHDDESTS'] + [x for x in total if (x[0:3] == "OHX" and (x[5:7] == "TC" or x[5:8] == "CTC")) ]
for x in interest1:
    if x not in dff1516.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1314.columns:
        interest1.remove(x)
for x in interest1:
    if x not in dff1112.columns:
        interest1.remove(x)
z1 = []
y8 = dff1718[interest1]
m, n = y8.shape[0],y8.shape[1]
y8.insert(n,"YEAROFDATA",["17-18"for i in range(m)])
z1.append(y8)
y7 = dff1516[interest1]
m, n = y7.shape[0],y7.shape[1]
y7.insert(n,"YEAROFDATA",["15-16"for i in range(m)])
z1.append(y7)
y6 = dff1314[interest1]
m, n = y6.shape[0],y6.shape[1]
y6.insert(n,"YEAROFDATA",["13-14"for i in range(m)])
z1.append(y6)
y5 = dff1112[interest1]
m, n = y5.shape[0],y5.shape[1]
y5.insert(n,"YEAROFDATA",["11-12"for i in range(m)])
z1.append(y5)
res1 = pd.concat(z1, axis = 0, ignore_index = True)

D:\anaconda\lib\site-packages\pandas\io\sas\sas_xport.py:475: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[x] = v

In [21]:
demo = res[list(demo_cols.keys())].rename(columns=demo_cols)

# categorical variables
for col, d in demo_cat.items():
    demo[col] = pd.Categorical(demo[col].replace(d))
demo['cohort'] = pd.Categorical(demo['cohort'])
# integer variables
for col in demo_int:
    demo[col] = pd.to_numeric(demo[col], downcast='integer')
demo

,id,age,race,education,marital_status,exam_status,psu,strata,exam_wt,interview_wt,cohort
0,93703,2,Non-Hispanic Asian,NaN,NaN,Both interviewed and MEC examined,2,145,8539.731348,9246.491865,17-18
1,93704,2,Non-Hispanic White,NaN,NaN,Both interviewed and MEC examined,1,143,42566.614750,37338.768343,17-18
2,93705,66,Non-Hispanic Black,9-11th grade (Includes 12th grade with no dipl...,Divorced,Both interviewed and MEC examined,2,145,8338.419786,8614.571172,17-18
3,93706,18,Non-Hispanic Asian,NaN,NaN,Both interviewed and MEC examined,2,134,8723.439814,8548.632619,17-18
4,93707,13,Other/Multiracial,NaN,NaN,Both interviewed and MEC examined,1,138,7064.609730,6769.344567,17-18
...,...,...,...,...,...,...,...,...,...,...,...
39151,71912,40,Non-Hispanic White,Less than 9th grade,Married,Both interviewed and MEC examined,1,98,20770.138122,19633.637051,11-12
39152,71913,18,Non-Hispanic Asian,NaN,NaN,Both interviewed and MEC examined,1,94,8028.485773,7382.152016,11-12
39153,71914,10,Non-Hispanic White,NaN,NaN,Both interviewed and MEC examined,2,94,63931.531988,60197.256541,11-12
39154,71915,60,Non-Hispanic White,College graduate or above,Never married,Both interviewed and MEC examined,3,90,91446.591982,88961.259215,11-12
39155,71916,16,Non-Hispanic White,NaN,NaN,Both interviewed and MEC examined,1,94,24751.360191,24446.632088,11-12

In [24]:
ohx = res1[list(ohx_cols.keys())].rename(columns=ohx_cols)

for col, d in ohx_cat.items():
    ohx[col] = pd.Categorical(ohx[col].replace(d))
    
for col in tc_cols.values():
    ohx[col] = pd.Categorical(ohx[col].replace(tc))
    # ctc columns get read in as bytes

for col in ctc_cols.values():
    ohx[col] = ohx[col].apply(lambda x: x.decode('utf-8'))
    ohx[col] = pd.Categorical(ohx[col].replace(ctc))

ohx['cohort'] = pd.Categorical(ohx['cohort'])

for col in ohx_int:
    ohx[col] = pd.to_numeric(ohx[col], downcast='integer')
ohx

,id,dentition_status,cohort,tc_01,tc_02,tc_03,tc_04,tc_05,tc_06,tc_07,...,ctc_22,ctc_23,ctc_24,ctc_25,ctc_26,ctc_27,ctc_28,ctc_29,ctc_30,ctc_31
0,93703,Complete,17-18,Tooth not present,Tooth not present,Tooth not present,Primary tooth present,Primary tooth present,Primary tooth present,Primary tooth present,...,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Unerupted,Unerupted
1,93704,Complete,17-18,Tooth not present,Tooth not present,Tooth not present,Primary tooth present,Primary tooth present,Primary tooth present,Primary tooth present,...,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Sound primary tooth,Unerupted,Unerupted
2,93705,Complete,17-18,Tooth not present,Permanent tooth present,Tooth not present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Permanent tooth with a restored surface condition,Permanent tooth with a restored surface condition,Missing due to dental disease but replaced by ...,Permanent tooth with a restored surface condition
3,93706,Complete,17-18,Tooth not present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth
4,93707,Complete,17-18,Tooth not present,Tooth not present,Permanent tooth present,Primary tooth present,Primary tooth present,Primary tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound primary tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35904,71912,Complete,11-12,Tooth not present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Permanent tooth with a dental carious surface ...,Sound permanent tooth
35905,71913,Complete,11-12,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth
35906,71914,Complete,11-12,Tooth not present,Tooth not present,Permanent tooth present,Primary tooth present,Primary tooth present,Primary tooth present,Permanent tooth present,...,Unerupted,"Tooth present, condition cannot be assessed",Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,"Tooth present, condition cannot be assessed",Sound primary tooth,Sound primary tooth,Sound permanent tooth,Unerupted
35907,71915,Complete,11-12,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Permanent tooth with a dental carious surface ...,Permanent tooth with a dental carious surface ...
35908,71916,Complete,11-12,Tooth not present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,Permanent tooth present,...,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Sound permanent tooth,Permanent tooth with a dental carious surface ...,Unerupted